<main class="main-content">
    <h1 class="page-heading text-center">Login</h1>
    <hr class="bg-resev hr-2"/>
    <form class="col-md-4 col-md-offset-4" th:method="post" th:action="@{/login}">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username..." name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." name="password" required>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
            <label class="form-check-label" for="rememberMe">
                Remember me?
            </label>
        </div>
        <div class="csrf">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </div>
        <div class="button-holder">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</main>