<th:block th:fragment="footer">
    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4 class="wow fadeInUp">Contact Us</h4>
                    <p><i class="fa fa-home" aria-hidden="true"></i> 24 Blvd. Bulgaria, Bulgaria, 4000</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@locrum.com</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +359 894 878 995</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>Stay in touch</h4>
                    <input type="email" placeholder="Subscribe For Updates"><button class="btn btn-success">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</th:block>