<th:block th:fragment="navbar">
    <div id="myNavbar" class="navbars navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand">Locrum</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/home">Home</a>
                    </li>
                    <th:block sec:authorize="isAnonymous()">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/register">Register</a>
                        </li>
                    </th:block>
                    <th:block sec:authorize="!isAnonymous()">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke">
                                Orders
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN', 'MODERATOR', 'USER')">
                                    <a class="dropdown-item" href="/virus/all">Show</a>
                                </th:block>
                                <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN', 'MODERATOR')">
                                    <a class="dropdown-item" href="/virus/create">Add</a>
                                </th:block>
                            </div>
                        </li>
                        <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link text-light" href="/user/all">Users</a>
                            </li>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke">
                                    Categories
                                </a>
                                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                                    <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN', 'MODERATOR', 'USER')">
                                        <a class="dropdown-item" href="/category/all">Show</a>
                                    </th:block>
                                    <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN', 'MODERATOR')">
                                        <a class="dropdown-item" href="/category/add">Add</a>
                                    </th:block>
                                </div>
                            </li>
                        </th:block>
                        <li class="nav-item navbar-right">
                            <form th:action="@{/logout}" th:method="post">
                                <button type="submit" class="btn border-0 px-0 nav-link text-light" href="/logout">Logout</button>
                            </form>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</th:block>