* {

    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li {

    list-style: none;
    display: inline-block
}

a {

    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {

    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {

    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {

    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*NAVIGATION*/

.navbars {

    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbars a {

    color: #fff !important;
    opacity: 0.7;
}


.navbars a:hover {

    opacity: 1;
    background-color: #111111 !important;
}

.navbars button {

    color: #fff !important;
    opacity: 0.7;
    margin-top: 8px;
    background-color: #222;
}


.navbars button:hover {

    opacity: 1;
    background-color: #111111 !important;
    color: #ffffff !important;
    border-color: transparent !important;
}


/*HEADER*/

.header {

    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(/img/headerimg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.page-heading {
    margin-top: 80px;
}

.header img {

    height: 350px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {

    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {

    margin-top: 20px;
}

.header .btn {

    border-radius: 20px;
    margin: 40px 20px;
    padding: 1.4% 7%;
}


@media(max-width:768px) {

    .header {

        padding: 30px;
        height: 750px;
    }

    .header img {

        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }

    .header .btn {

        font-size: 10px;
        margin-left: 20px;
    }

    .header h1 {

        font-size: 20px;
    }

    .header p {

        font-size: 10px;
    }
}


/*SERVICES*/

.services {

    padding: 80px 0 80px;
    text-align: center;
}

.services h2,
.services h4 {

    color: #4c4c4c;
    margin: 20px 0 20px;
}


.services p {

    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}


.services i {

    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}


@media(max-width:768px) {

    .services {

        padding: 30px;
    }
}


/*PRICING*/

.pricing {

    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;
}

.pricing h2,
.pricing p {

    color: #fff;
}

.pricing p {

    padding-bottom: 40px;
}

.pricing .packages {

    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}


.packages li {

    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b {

    color: #4c4c4c;
}

.packages p,
.packages li {

    color: #737373;
}

.packages button {

    margin-top: 10px;
}



@media(max-width:768px) {

    .pricing {

        padding: 30px;
    }

    .packages {

        width: 80%;
        margin-left: 25px;
    }
}


/*Testimonials*/

body {
    font-family: "Open Sans", sans-serif;
}
h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    margin: 30px 0 60px;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background: #8fbc54;
    left: 0;
    right: 0;
    bottom: -10px;
}
.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial {
    padding: 30px 0 10px;
}
.carousel .overview {
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}
.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}


/*CLINTS*/

.clients {

    padding: 50px 0 80px;
    background-color: #3399ff;
    text-align: center;
    color: #fff;
}

.client h2 {

    color: #5e5e5e;
}

.clients p {

    padding-bottom: 40px;
}

.clients img {

    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}


.clients li:hover img {

    opacity: 1;
}


/*CONTACT*/

.contact {

    padding: 50px 0 80px;
    text-align: center;
}

.contact p {

    padding-bottom: 80px;
    color: #737373;
}

.contact h2 {

    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contact .input-group {

    margin-bottom: 25px;
}

.contact .form-control {

    border-radius: 0 !important;
}

.contact span {

    border-radius: 0 !important;
}

.contact .btn {

    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;
}

.contact .btn:hover {

    background-color: #a85959 !important;
    color: #fff !important;
}


/*FOOTER*/

.footer {

    padding: 30px;
    color: #cccccc;
    background-color: #222222;
    position: relative;
    margin-top: 30%;
    width: 100%;
}


.footer .social {

    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer input {

    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {

    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

/* Extensions */
.w-40 {
    width: 40%;
}
