<div class="container" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <h1 class="page-heading">All Categories</h1>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Subcategories</th>
        </tr>
        <th:block th:each="category, indexer : ${viewModel}">
            <tr>
                <td th:text="${indexer.index + 1}"></td>
                <!--/*@thymesVar id="category" type="com.lucrum.entities.Category"*/-->
                <td th:text="${category.name}"></td>
                <th:block th:each="subcategory: ${category.getSubCategories()}">
                    <td th:text="${subcategory.getName()}" />
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('ROOT', 'ADMIN')">
                    <td>
                        <a class="btn" th:href="@{/category/edit/{id}(id=${category.id})}">Edit</a>
                        <a class="btn" th:href="@{/category/delete/{id}(id=${category.id})}">Delete</a>
                    </td>
                </th:block>
            </tr>
        </th:block>
    </table>
</div>