<h1 class="page-heading">Add Category</h1>
<hr/>
<form class="col-md-4" th:method="post" th:object="${viewModel}" th:action="@{/category/edit/{id}(id=*{id})}">

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" th:field="*{name}" th:value="*{getName()}">

        <!--<small th:if="${#fields.hasErrors('name')}" id="nameHelp" class="form-text text-danger">
            Field should be between 3 and 10 symbols
        </small>-->
    </div>

    <div class="button-holder d-flex justify-content-around">
        <button type="submit" class="btn btn-primary bg-resev">Add Category</button>
    </div>

</form>
<span class="col-md-8">                                         </span>